@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap');

$gold: #BE9A58;
$black: #141413;
$white: #ffff;

* {
    margin: 0;
}

body {
    background-color:$black;
    font-family: 'Red Hat Display', sans-serif;
}

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

       .card {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            width: 330px;
            height: 520px;
            background-color: $white;
            border-radius: 1rem;

                img {
                    margin-top: 17px;
                    height: 300px;
                    border-radius: 8px;
                }
        }
}

// Text //

h1 {
    font-size: 1.2em;
    font-weight: 700;
    color: #332c1e;
    margin-left: 10px;
    margin-right: 10px;
}

p {
    font-weight: 500;
    color: hsl(31, 21%, 46%);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
}

// Footer //

footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $white;
    font-size: smaller;

        a {
            text-decoration: none;
            color: $white;
            cursor: pointer;
        }

        a:hover {
            color: $gold;
        }
}